<ion-header>
    <ion-navbar>
        <ion-title>
            Mapa
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-buttons end>
      <button ion-button (click)="setarViagem()">
          Traçar Rota
      </button>
      <ion-fab middle="" left="">
        <button ion-button block color="danger" (click)="openModal()">Open Modal</button>
        <!--<button color="danger" ion-fab="" class="fab fab-md fab-md-danger" (click)="areaRisco()"><ion-icon class="fab-close-icon icon icon-md ion-md-close" name="close" role="img" aria-label="close"></ion-icon><span class="button-inner"><ion-icon name="add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon></span><div class="button-effect" style="transform: translate3d(-37px, -18px, 0px) scale(1); height: 106px; width: 106px; opacity: 0; transition: transform 301ms, opacity 211ms 90ms;"></div></button>-->
      </ion-fab>
  </ion-buttons>
  
  <div #mapa id="mapa"></div>
</ion-content>