<!--
  Generated template for the CadastroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SINGLE DO POST</ion-title>
  </ion-navbar>
  
</ion-header>


<ion-content class="singlePostsConfigs" padding>

  <ion-card>
    <img src="../../assets/imgs/mapaThumb.png">
    <ion-fab right top>
      <button ion-fab>
        <ion-icon name="pin"></ion-icon>
      </button>
    </ion-fab>
  
    <ion-item class="itemHorarioEntrar">
      <div class="col-md-6">
        <h2>Horário de Saída</h2>
        <p>19:00h</p>
      </div>
      <div class="col-md-6">
        <button (click)="goMapa()">ENTRAR</button>
      </div>
      <div class="clear"></div>
    </ion-item>
  
    <ion-item>
      <h2>Local de Saída</h2>
      <p>Praia Vermelha, Instituto de computação.</p>
    </ion-item>
  
  </ion-card>
  
  <div class="ultimasSaidasProfile">
    <h1>Membros da Viagem</h1>
    <div class="col-md-3">
      <img src="../../assets/imgs/spengler.jpg">
      <h2>Slimer</h2>
    </div>
    <div class="col-md-3">
      <img src="../../assets/imgs/spengler.jpg">
      <h2>Slimer</h2>
    </div>
    <div class="col-md-3">
      <img src="../../assets/imgs/spengler.jpg">
      <h2>Slimer</h2>
    </div>
    <div class="col-md-3">
      <img src="../../assets/imgs/spengler.jpg">
      <h2>Slimer</h2>
    </div>
    <div class="clear"></div>
  </div>
  


</ion-content>
