page-login {



}

// PALHETA

// #EE2370 MAGENTO
// #FFFF0B AMARELO
// #292D2D PRETO



// Formatação do Login
.login-sessao{
    background-color: #fff;
}
.login-sessao button{
    background-color: #EE2370;
    color: #fff;
    font-weight: bold;
    margin-top: 25px;
    padding: 25px;
}
.lista-Login{
    width: 100%;
    text-align: center;
}
.login-sessao .scroll-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.scroll-content{
    overflow: hidden;
}
.listaBasicaProfile .icon{
    padding-right: 3px;
}
.lista-Login h1{
    margin-bottom: 15px;
    text-align: center;
    font-size: 60px;
    color: #292D2D;
}
:focus{
    outline: none;
}
.lista-Login .item-input{
    margin-bottom: 10px !important;
    border: 0px;
    border: 0px !important;
    background-color: transparent;
    width: 100%;
    color: #292D2D;
    padding-left: 0px;
}
.imgLogo{
    max-width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cadastrar{
    pointer: cursor;
    margin-top: 15px;
}


// Formatação dos Posts
.col-md-6{
    float: left;
    width: 50%;
    font-size: 13px;
}
.textRight{
    text-align: right;
}
.clear{
    clear: both;
}
.cardsPosts{
    background-color: #292D2D;
    color: #fff;
    cursor:pointer;
    cursor:pointer;
}
.cardsPosts .item-md{
    background-color: #292D2D;
    color: #fff;
}
.cardsPosts h2{
    color: #fff;
}
.cardsPosts p{
    color: #fff;
}
.cardsPosts .icon-md-secondary{
    padding-right: 3px;
}
ion-fab[middle]{
    bottom: 10px;
    top: auto;
}


// Barra de Pesquisa
.barraPesquisa .searchbar-input{
    border: 0px;
    box-shadow: none;
    text-align: right;
    padding-right: 30px;
    border-bottom: 1px solid #cdcdcd;
}
.barraPesquisa .searchbar-search-icon{
    right: 0px;
    left: auto;
}



//Formatação do Profile
.col-md-4{
    float: left;
    width: calc(33.3333% - 15px);
    margin-left: 7.5px;
    text-align: center;
    margin-right: 7.5px;
}
.ultimasSaidasProfile img{
    border-radius: 50%;
    max-width: 65px;
}
.ion-ios-star{
    color: #FC0;
}
.ultimasSaidasProfile{
    margin-top: 20px;
}
.listaBasicaProfile{
    margin-top: 20px;
}
.ultimasSaidasProfile h1{
    text-align: center;
    color: #222;
    font-size: 20px;
}
.ultimasSaidasProfile h2{
    margin-top: 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
.listaBasicaProfile {
    list-style: none;
    padding-left: 13px;
}
.listaBasicaProfile li{
    margin-top: 10px;
}

// Formatacao do single

.ultimasSaidasProfile .col-md-3{
    float: left;
    width: calc(25% - 15px);
    margin-left: 7.5px;
    text-align: center;
    margin-right: 7.5px;
}
.itemHorarioEntrar button{
    width: 100%;
    padding: 15px;
}
.itemHorarioEntrar .label {
    margin-right: 5px;
    border: 0px !important;
}
.label-md{
    border: 0px !important;
}
.toolbar-background-md{
    background: #424242;
}

.toolbar-title-md{
    color: #fff;
}
.toolbar .back-button.show-back-button{
    color: #fff;
}
.barraPesquisa{
    background-image: url(../../assets/imgs/fundoposts.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
}
.barraPesquisa .searchbar{
    padding-top: 70px;
}
.searchbar-md .searchbar-input{
    background-color: rgba(255, 255, 255, 0.82);
}
.lista{
    margin: 0;
}
.usericon{
    max-width: 40px;
    float: right;
    margin-right: 16px;
    background: transparent;
}
.cardsPosts .item-md{
    background: transparent;
}
.cardsPosts{
    background: #0C7295;
}

.list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner{
    
    border-bottom: 1px solid #cdcdcd;
    border: 0px !important;
}
.label-md{
    border: 0px !important;
}
.toolbar-background-md{
    background: #424242;
}
.barraLoginTransp .toolbar-background-md{
    background: #292D2D;
}
.barraLoginTransp .scroll-content{
    margin-top: 0px !important;
}
.toolbar-title-md{
    color: #fff;
}
.toolbar .back-button.show-back-button{
    color: #fff;
}
.barraPesquisa{
    background-image: url(../../assets/imgs/fundoposts.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -16px;
}
.barraPesquisa .searchbar{
    padding-top: 70px;
}
.searchbar-md .searchbar-input{
    background-color: rgba(255, 255, 255, 0.82);
}
.lista{
    margin: 0;
}
.usericon{
    max-width: 40px;
    float: right;
    margin-right: 16px;
    background: transparent;
}
.cardsPosts .item-md{
    background: transparent;
}
.cardsPosts{
    background: #0C7295;
}

.list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner{
    
    border-bottom: 1px solid #cdcdcd;
}
