<!--
  Generated template for the BuscaFiltrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="barraLoginTransp">

  <ion-navbar>
    <button  class="usericon" (click)="mudaPagina2()" ><img src="../../assets/imgs/usericon.png"></button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div class="barraPesquisa">
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </div>
  <ion-list class="lista">
    <ion-item>
      <ion-label>Horário de Saída</ion-label>
      <ion-select [(ngModel)]="toppings" multiple="true" cancelText="Cancelar" okText="Vamos!">
        <ion-option value="bacon" selected="true">18:00</ion-option>
        <ion-option value="olives">18:30</ion-option>
        <ion-option value="xcheese">19:00</ion-option>
        <ion-option value="peppers">19:30</ion-option>
        <ion-option value="mushrooms">20:00</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
 
  <ion-card *ngFor="let post of postList" (click)="postUnico()" class="cardsPosts">
    <ion-item>
      <h2>{{post.nome}}</h2>
      <p>{{post.horario}}</p>
    </ion-item>
  
    <ion-card-content class="cards-divs-posts">
      <div class="col-md-6">
        <ion-icon color="secondary" name="map" role="img" class="icon icon-ios icon-ios-secondary ion-ios-map" aria-label="map"></ion-icon>  
        {{post.lat_orig}}
      </div>
      <div class="col-md-6 textRight">
        {{post.lat_dest}}
      </div>
      <div class="clear"></div>
    </ion-card-content>
  
  </ion-card>  
  
  <ion-fab middle="" right="">
    <button color="danger" ion-fab="" class="fab fab-md fab-md-danger" (click)="newGrupo()"><ion-icon class="fab-close-icon icon icon-md ion-md-close" name="close" role="img" aria-label="close"></ion-icon><span class="button-inner"><ion-icon name="add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon></span><div class="button-effect" style="transform: translate3d(-37px, -18px, 0px) scale(1); height: 106px; width: 106px; opacity: 0; transition: transform 301ms, opacity 211ms 90ms;"></div></button>
  </ion-fab>

</ion-content>
