<!--
  Generated template for the SampleModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>SampleModal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-img width="376" height="500" src="../../assets/imgs/mapa.jpg"></ion-img>
  <button left (click)="closeModal()">Close Modal</button>
  
  
</ion-content>
