<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
   <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab><ion-icon color="vibrant" name="arrow-dropup-circle" role="img" class="icon icon-ios icon-ios-vibrant ion-ios-arrow-dropup-circle" aria-label="arrow dropup-circle"></ion-icon></button>
      <button ion-fab><ion-icon color="vibrant" name="happy" role="img" class="icon icon-ios icon-ios-vibrant ion-ios-happy" aria-label="happy"></ion-icon></button>
      <button ion-fab><ion-icon name="people" role="img" class="icon icon-ios ion-ios-people" aria-label="people"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
    <img src="../../assets/imgs/profile.jpeg">
    <ion-card-content>
      <ion-card-title>
        Daniel Maciel
      </ion-card-title>
      <div class="infosProfile">
        <div class="col-md-6">
          4.8/5 <ion-icon color="bright" name="star" role="img" class="icon icon-ios icon-ios-bright ion-ios-star" aria-label="star"></ion-icon>
        </div>
        <div class="col-md-6">
         9 Meses de uso
        </div>  
      </div>
      <div class="clear"></div>
    </ion-card-content>
  </ion-card>
  
  <ul class="listaBasicaProfile">
    <li><ion-icon name="person" role="img" class="icon icon-ios ion-ios-person" aria-label="person"></ion-icon> (21) 9 6897-5335</li>
    <li><ion-icon color="danger" name="heart" role="img" class="icon icon-ios icon-ios-danger ion-ios-heart" aria-label="heart"></ion-icon> Sistemas de Informação</li>
  </ul>

  <div class="ultimasSaidasProfile">
    <h1>Últimas Saídas</h1>
    <div class="col-md-4">
      <img src="../../assets/imgs/spengler.jpg">
      <h2>Slimer</h2>
    </div>
    <div class="col-md-4">
      <img src="../../assets/imgs/spengler.jpg">
      <h2>Slimer</h2>
    </div>
    <div class="col-md-4">
      <img src="../../assets/imgs/spengler.jpg">
      <h2>Slimer</h2>
    </div>
    <div class="clear"></div>
  </div>
  
</ion-content>
