<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content class="login-sessao" padding>
  
  <ion-list class="lista-Login">

    <img class="imgLogo" src="../../assets/imgs/goSafeUffClaro340.png">
    
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

  </ion-list>
  
  <button class="disable-hover button button-block button-block-ios" ion-button block (click)="mudaPagina()">ENTRAR</button>

  <a class="cadastrar" (click)="newConta()">Criar Conta</a>

</ion-content>
