<!--
  Generated template for the CriarContaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Criar Conta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list class="lista-Login">

    <h2>Nova Conta</h2>
    
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="model.nome"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Matricula</ion-label>
      <ion-input type="text" name="matricula" [(ngModel)]="model.matricula"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" name="senha" [(ngModel)]="model.password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="model.email"></ion-input>
    </ion-item>

  </ion-list>
  
  <ion-fab middle="" right="">
    <button color="danger" ion-fab="" class="fab fab-md fab-md-danger" (click)="criarConta()"><ion-icon class="fab-close-icon icon icon-md ion-md-close" name="close" role="img" aria-label="close"></ion-icon><span class="button-inner"><ion-icon name="add" role="img" class="icon icon-md ion-md-add" aria-label="add"></ion-icon></span><div class="button-effect" style="transform: translate3d(-37px, -18px, 0px) scale(1); height: 106px; width: 106px; opacity: 0; transition: transform 301ms, opacity 211ms 90ms;"></div></button>
  </ion-fab>
  
</ion-content>


